body {
    margin: 0;
    align-content: left;
}

header {
    margin: 0;
    padding: 0;
    height: 10%;
    overflow: auto;
    background-color: #000;
}

#lateral {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: red;
    height: 100%;
    position: absolute;
}
#campo{
    margin: 0;
    padding: 0;
    width: 80%;
    height: 88%;
    background-color: blue;
    float: right;
    
}

